In [4]:
Condom = ["Durex", "Kamasutra", "Manforce", "Trozen", "lifestyle Skin", "Astroglide", "Skore"]

In [5]:
Condom

['Durex',
 'Kamasutra',
 'Manforce',
 'Trozen',
 'lifestyle Skin',
 'Astroglide',
 'Skore']

In [6]:
for i in Condom:
    print(i)

Durex
Kamasutra
Manforce
Trozen
lifestyle Skin
Astroglide
Skore

In [10]:
for i in Condom:
    print(f"Use {i.title()} Condom for Better Pleasure.")

Use Durex Condom for Better Pleasure.
Use Kamasutra Condom for Better Pleasure.
Use Manforce Condom for Better Pleasure.
Use Trozen Condom for Better Pleasure.
Use Lifestyle Skin Condom for Better Pleasure.
Use Astroglide Condom for Better Pleasure.
Use Skore Condom for Better Pleasure.

In [11]:
for i in Condom:
    print(f"Use {i.title()} Condom for Better Pleasure.")
    print(f"I Can't wait to use {i.upper()} condom.")

Use Durex Condom for Better Pleasure.
I Can't wait to use DUREX condom.
Use Kamasutra Condom for Better Pleasure.
I Can't wait to use KAMASUTRA condom.
Use Manforce Condom for Better Pleasure.
I Can't wait to use MANFORCE condom.
Use Trozen Condom for Better Pleasure.
I Can't wait to use TROZEN condom.
Use Lifestyle Skin Condom for Better Pleasure.
I Can't wait to use LIFESTYLE SKIN condom.
Use Astroglide Condom for Better Pleasure.
I Can't wait to use ASTROGLIDE condom.
Use Skore Condom for Better Pleasure.
I Can't wait to use SKORE condom.

In [20]:
for i in Condom:
    print(f"Use {i.title()} Condom for Better Pleasure.")
    print(f"I Can't wait to use {i.upper()} condom.\n")
print("Thanks Buddy These Condoms were reallly amazing.")

Use Durex Condom for Better Pleasure.
I Can't wait to use DUREX condom.

Use Kamasutra Condom for Better Pleasure.
I Can't wait to use KAMASUTRA condom.

Use Manforce Condom for Better Pleasure.
I Can't wait to use MANFORCE condom.

Use Trozen Condom for Better Pleasure.
I Can't wait to use TROZEN condom.

Use Lifestyle Skin Condom for Better Pleasure.
I Can't wait to use LIFESTYLE SKIN condom.

Use Astroglide Condom for Better Pleasure.
I Can't wait to use ASTROGLIDE condom.

Use Skore Condom for Better Pleasure.
I Can't wait to use SKORE condom.

Thanks Buddy These Condoms were reallly amazing.

In [18]:
for i in Condom:
print(i)

IndentationError: expected an indented block (4095396950.py, line 2)

In [26]:
Pizza = ["My Mac", "Mac Special", "Margritha"]

In [28]:
Pizza

['My Mac', 'Mac Special', 'Margritha']

In [30]:
for i in Pizza:
    print(f"I like {i.upper()} Pizza")

I like MY MAC Pizza
I like MAC SPECIAL Pizza
I like MARGRITHA Pizza

In [32]:
for i in Pizza:
    print(f"I like {i.upper()} Pizza")
print("I like pizza.")

I like MY MAC Pizza
I like MAC SPECIAL Pizza
I like MARGRITHA Pizza
I like pizza.

In [33]:
jaanwar = ["Cheetha", "Baagh", "Tenduaaa", "Billi"]

In [34]:
jaanwar

['Cheetha', 'Baagh', 'Tenduaaa', 'Billi']

In [35]:
for i in jaanwar:
    print(f"{i.upper()} ek Maanshahari jaanwar hai. ")

CHEETHA ek Maanshahari jaanwar hai.
BAAGH ek Maanshahari jaanwar hai.
TENDUAAA ek Maanshahari jaanwar hai.
BILLI ek Maanshahari jaanwar hai.

In [36]:
for i in jaanwar:
    print(f"{i.upper()} ek Maanshahari jaanwar hai. ")
print("Yeh sabhi jaanwar ek hi prajaati ke hote hain.")

CHEETHA ek Maanshahari jaanwar hai.
BAAGH ek Maanshahari jaanwar hai.
TENDUAAA ek Maanshahari jaanwar hai.
BILLI ek Maanshahari jaanwar hai.
Yeh sabhi jaanwar ek hi prajaati ke hote hain.

In [53]:
for i in range(1,5):
    print(i)

1
2
3
4

In [54]:
table = list(range(2,21,2))
table

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
#Square of tabale of two
square = []
for i in range(2,21,2):
    i = i**2
    square.append(i)

print(square)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [58]:
square

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [59]:
min(square)

4

In [60]:
max(square)

400

In [61]:
sum(square)

1540

In [64]:
#list comprehension
sq = [i**2 for i in range(1,11)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [72]:
million = []
for i in  range(1,1000001):
    million.append(i)

In [74]:
min(million)

1

In [75]:
max(million)

1000000

In [76]:
sum(million)

500000500000

In [78]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [80]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [81]:
cube = []
for i in range(1,11):
    i = i**3
    cube.append(i)
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [91]:
cube = [i**3 for i in range(1,11)]
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [92]:
Ladka = ["Shabrish", "Atanu", "Sahil", "Ankush"]

In [93]:
Ladka[0:2]

['Shabrish', 'Atanu']

In [94]:
Ladka[1:3]

['Atanu', 'Sahil']

In [95]:
Ladka[:3]

['Shabrish', 'Atanu', 'Sahil']

In [96]:
Ladka[2:]

['Sahil', 'Ankush']

In [97]:
Ladka[-1:]

['Ankush']

In [100]:
Ladka[::-1]

['Ankush', 'Sahil', 'Atanu', 'Shabrish']

In [101]:
for i in Ladka[::-1]:
    print(i)

Ankush
Sahil
Atanu
Shabrish

In [103]:
for i in Ladka[:2]:
    print(i)

Shabrish
Atanu

In [104]:
Ladka

['Shabrish', 'Atanu', 'Sahil', 'Ankush']

In [115]:
chutiya_ladka = Ladka[::-1]

In [116]:
chutiya_ladka

['Ankush', 'Sahil', 'Atanu', 'Shabrish']

In [117]:
Ladka

['Shabrish', 'Atanu', 'Sahil', 'Ankush']

In [118]:
samajhdaar_ladka = Ladka[:]
samajhdaar_ladka.append("Apurva")

In [119]:
samajhdaar_ladka

['Shabrish', 'Atanu', 'Sahil', 'Ankush', 'Apurva']

In [120]:
del samajhdaar_ladka[0:4]

In [121]:
samajhdaar_ladka

['Apurva']